.card {
	width: 90vw;
	border: 1px solid rgb(var(--blog-primary));
	background-color: rgb(var(--background));
	color: rgb(var(--foreground));
}

.title {
	font-weight: bold;
}

.readBtn,
.readBtn:visited,
.readBtn:focus,
.readBtn:active {
	color: rgb(var(--foreground));
	font-weight: bold;
	background-color: transparent;
}

.readBtn {
	border-color: rgb(var(--foreground));
}

.readBtn:hover {
	background-color: rgb(var(--foreground));
	color: rgb(var(--background));
	box-shadow: 0px 0px 0px 3px rgb(var(--foreground));
}

@media screen and (min-width: 768px) {
	.card {
		width: 70vw;
	}
}

@media screen and (min-width: 1024px) {
	.card {
		width: 40vw;
	}
}
